<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
  <div class="admin-container">
    <h2>All Appointments</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Number</th>
          <th scope="col">Type</th>
          <th scope="col">Message</th>
        </tr>
      </thead>

      <tbody>
        {% for appointment in all_appointments %}
          <tr>
            <th scope="row">{{ appointment.appointment_date }}</th>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.client_name }}</td>
            <td>{{ appointment.client_phone }}</td>
            <td>{{ appointment.appointment_type }}</td>
            <td class="message"><p>{{ appointment.message }} kenquiruiriqorer rjrknququi rdbjqrnfk ebkjb uebdjcxn cuhcbkwec cjhkebawbce</p></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

{% include "footer.html" %}
</body>
</html>