<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
  <div class="admin-container">
    <h2>All Invitees</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date Added</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Number</th>
          <th scope="col">Appointment Booked</th>
        </tr>
      </thead>

      <tbody>
        {% for appointment in all_appointments %}
          <tr>
            <th scope="row">{{ appointment.date_added }}</th>
            <td>{{ appointment.client_name }}</td>
            <td>{{ appointment.client_email }}</td>
            <td>{{ appointment.client_phone }}</td>
            <td>{{ appointment.appointment_type }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

{% include "footer.html" %}
</body>

</html>